<section class="movie-index">
  <h1 class="section-title">
    Moviee<span class="green">e</span><span class="parple">e</span>s
  </h1>

  <table>
    <thead>
      <tr>
        <th>映画タイトル</th>
        <th>感想</th>
        <th>投稿者</th>
        <th>投稿日時</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td>
          <%= link_to movie_path(movie.id) do %>
            <%= movie.title %>
          <% end %>
          </td>
          <td><%= movie.body %></td>
          <td></td>
          <td></td>
          <td>
            <% if movie.user == current_user %>
              <%= link_to "削除", movie_path(movie), method: :delete %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>