<div class="top">
  <h1 class="top-heading">Movies..</h1>
  <div class="start-btn" id="target">
    <%= link_to "はじめる", new_user_registration_path %>
  </div>
  <div class="start-btn" id="target">
    <%= link_to "マイページへ", new_user_session_path %>
  </div>
</div>
