// Place all the styles related to the Tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.circle {
  background-color: $site-color;
  border-radius: 50%;
  transform: rotate(360deg);
}