<header>
  <nav class="nav-bar">
    <ul>
      <li class="nav-item">
        <%= link_to "top", root_path %>
        <%= link_to "about", about_path %>
        <%= link_to "投稿", new_movie_path %>
      </li>
    </ul>
  </nav>
</header>